<div class="signIn_page ">
    <div class="d-flex justify-content-center align-items-center signIn-form-container">
      <div class="col-md-4 col-lg-3 col-sm-8 signIn-form">
          <div class="signIn-header text-center">
            <h1 class="text-primary">Sign In</h1> 
          </div>
          <div class="signIn-body">
            <form [formGroup]="signInForm" [ngClass]="{ 'needs-validation' : submitted && signInForm.invalid, 'was-validated' : submitted && signInForm.valid}" method="post" (ngSubmit)="signInInit()" novalidate>
              <div class="form-group my-3">
                <label for="username">Username</label>
                <input type="email" 
                  formControlName="username" 
                  class="form-control" 
                  id="username" 
                  placeholder="Enter username" 
                  [ngClass]="{
                    'is-invalid':submitted && formErrors.username.invalid,
                    'is-valid':submitted && formErrors.username.valid,
                  }">
                
                <div *ngIf="submitted && formErrors.username.errors?.['required']" class="invalid-feedback">Please enter a username.</div>
                <div *ngIf="submitted && formErrors.username.errors?.['pattern']" class="invalid-feedback">Please enter a valid email address to continue.</div>
              </div>
              <div class="form-group my-3">
                <label for="password">Password</label>
                <input 
                  type="password" 
                  formControlName="password" 
                  class="form-control" 
                  id="password" 
                  placeholder="Password"  
                  [ngClass]="{
                    'is-invalid':submitted && formErrors.password.invalid,
                    'is-valid':submitted && formErrors.password.valid,
                  }">
                <div *ngIf="submitted && formErrors.password.errors?.['required']" class="invalid-feedback">Please enter password.</div>
                <div *ngIf="submitted && formErrors.password.errors?.['minlength']" class="invalid-feedback">Password should be at least 5 characters long.</div>
              </div>
              <button type="submit" class="btn btn-primary">Sign In</button>
            </form>
          </div>
      </div>
    </div>
  </div>
  