<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 offset-2">
      
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Documents</h1>
        <button type="button" class="btn btn-primary" (click)="openModal(template)">Upload Document</button>

      </div>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>DocumentId</th>
              <th>Doucment Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="documentsArr.length; else noRecordBlock">
              <tr *ngFor="let document of documentsArr; let idx = index">
                <td>{{idx + 1 }}</td>
                <td>{{document.identifier}}</td>
                <td> {{document.name}} </td>
                <td>
                  <a [routerLink]="['/documents', document.identifier]"> View Details</a>
                </td>
              </tr>
            </ng-container>

            <ng-template #noRecordBlock>
              <tr>
                <td colspan="2"></td>
                <td colspan="2">No Documents</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Upload Document</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <form [formGroup]="documentForm" novalidate (ngSubmit)="uploadDocument()" >
    <div class="modal-body">
      
        <alert [type]="'success'" *ngIf="uploadedSuccess" [dismissible]="true">Document uploaded successfully!</alert>
     
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" formControlName="description"
          [ngClass]="{
            'is-invalid':submitted && formErrors['description'].invalid,
            'is-valid':submitted && formErrors['description'].valid,
          }"></textarea>

          <div *ngIf="submitted && formErrors['description'].errors?.['required']" class="invalid-feedback">Please enter password.</div>
        </div>
        <div class="form-group">
          <input type="file" class="form-control-file" id="file" (change)="onFileChange($event)" [ngClass]="{
            'is-invalid':submitted && formErrors['file'].invalid,
            'is-valid':submitted && formErrors['file'].valid,
          }">
          <div *ngIf="submitted && formErrors['file'].errors?.['required']" class="invalid-feedback">Please select valid document</div>

        </div>
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Close</button>
    <button type="submit" class="btn btn-primary">Upload</button>
  </div>
</form>
</ng-template>

<app-footer></app-footer>